.nosotros-ellos-container{
    background-image: radial-gradient(circle at 50% 50%, #0d1413 0, #000000 50%, #000000 100%);
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 92%;
    border-radius: 10px;
    box-shadow: 7px 4px 14px -5px rgba(0,0,0,0.75);
}


.nosotros-container, .ellos-container{
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nosotros-container h2, .ellos-container h2{
    margin: 10px 0 10px 0;
}

.nosotros-ellos-container-hr{
    height: 3px;
    margin-bottom:10px;
    color: #fff;
    background-color: #fff;
    width: 100%;
}

.ellos-container{
    border-left: 3px solid #fff;
}

.nosotros-points-container, .ellos-points-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
}


.nosotros-buttons-container, .ellos-buttons-container{
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;

}

.nosotros-buttons-container button, .ellos-buttons-container button{
    background-color: #00304b;
    color: #fff;
    border-radius: 50%;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 20px;
    cursor: pointer;
}


.hr-th{
    width: 100%;
    height: 3px;
    background-color: #fff;
    align-self: center;
    margin-bottom: 10px;
}

.container-points {
    height: 50%;
}

.nosotros-buttons-container button:hover, .ellos-buttons-container button:hover{
    transition: all 0.5s;
    transform: rotate(180deg) scale(1.1,1.1);;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .nosotros-ellos-container{
        width: 90%;
        height: 80%;
    }
    .nosotros-buttons-container button, .ellos-buttons-container button{
        width: 2.8rem;
        height: 2.8rem;
    }
}
